---
export interface Props {
	src: string;
    title: string;
    variant?: 'default'|'custom';
}

const { src, title, variant = 'default' } = Astro.props;
const paddingBottom = variant === 'custom' ? 'pb-[72.25%]' : 'pb-[56.25%]';
const bgColor = variant === 'custom' ? ' bg-black' : '';
---
<div class={`relative ${paddingBottom} h-0 overflow-hidden max-w-full${bgColor} mb-12 last:mb-0 [&_>_iframe]:absolute [&_>_iframe]:top-0 [&_>_iframe]:left-0 [&_>_iframe]:w-full [&_>_iframe]:h-full`}>
    <iframe {src} {title} allowfullscreen ></iframe>
</div>
