backend:
  name: github
  repo: alexandrahedin/alexandrahedin.github.io
  branch: main
  base_url: https://decap-proxy.decap-auth-alexandrahedin.workers.dev

site_url: https://alexandrahedin.se

media_folder: "public/uploads"
public_folder: "/uploads"

collections:
  - name: "test"
    label: "Test"
    files:
      - name: "dummy"
        label: "Dummy"
        file: "src/content/test/dummy.md"
        fields:
          - { label: "Title", name: "title", widget: "string" }
