---
import PostHog from '../components/Posthog.astro'
import GlobalStyles from '../components/GlobalStyles.astro';

export interface Props {
	title: string;
	lang: 'en' | 'sv';
	metaDescription: string;
}

const { title, lang, metaDescription } = Astro.props;
---

<!DOCTYPE html>
<html lang={lang} class="font-serif lg:text-[1.125em]">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={metaDescription}>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<GlobalStyles />
		<PostHog />
	</head>
	<body>
		<slot />
	</body>
</html>
